.popup {
    position: absolute;
    right: 0; /* Position the popup at the right edge */
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-inner {
    position: relative;
    padding: 32px;
    width: 80%;
    max-width: 400px;
    background-color: #2c3e50;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.popup-inner .confirm-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-inner .confirm-button:hover {
    background-color: #2980b9;
}
